    <br />
    <div id="footer">
      {% if title != 'Soon' %}
      <p><a href="/">Home!</a></p>
      {% else %}
      <p><a href="/passwd">Password Checker</a></p>
      <p><a href="/hello">Hello!</a></p>
      {% endif %}
      <p><a href="/4chan">4chan</a>
      <p style="font-size: .5em;"><a target="_blank" title="GitHub" href="https://github.com/sudokode/sudokode.net">&lt;src&gt;</a></p>
      <div style="font-size: .5em; text-align: center;">
        © 2016 sudokode<br /><br />
        Last commit: <a id="last_commit"></a>
      </div>
    </div>
    <script type="text/javascript">
      $(document).ready(function() {
        $.ajax({
          url: 'https://api.github.com/repos/sudokode/sudokode.net/commits',
          dataType: 'json',
        })
        .done(function(json) {
          var lastCommit = json[0].sha.substr(0, 7);
          var commitMsg = json[0].commit.message;
          var commitDate = json[0].commit.author.date;
          var commitUrl = json[0].html_url;
          $("#last_commit").text(
              lastCommit
              + ' ('
              + commitMsg
              + ')'
          ).attr('href', commitUrl)
          .attr('title', 'Date: ' + commitDate);
        });
      });
    </script>
  </body>
</html>
