    <h2>These people said hello too!</h2>
    <div id="hello_feed">
      <ul id="hello_list">
        {% if hello_feed %}
        {% for hello in hello_feed %}
        <li class="hello_item">{{ hello }}</li>
        {% endfor %}
        {% endif %}
      </ul>
    </div>
    <script type="text/javascript">
      $(document).ready(function() {
        setInterval(function() {
          $.ajax({
            url: '/hello/feed/',
            dataType: 'json'
          })
          .done(function(json) {
            console.log(json);
            $("#hello_list").empty();
            $.each(json.data, function(index, value) {
              $("#hello_list").append(
                  '<li class="hello_item">'
                  + value
                  + '</li>'
              );
            });
          });
        }, 9000);
      });
    </script>
