    <style type="text/css">
      .hello_item {
        list-style: none;
        padding-bottom: .2em;
      }
    </style>
    <div id="hello_feed">
      <h3>These people said hello too!</h3>
      <ul id="hello_list">
        {% if hello_feed %}
        {% for hello in hello_feed %}
        <li class="hello_item">-&gt; {{ hello }}</li>
        {% endfor %}
        {% endif %}
      </ul>
      <h5>Update in <span id="feed_timer"></span></h5>
    </div>
    <script type="text/javascript">
      $(document).ready(function() {
        startFeedTimer();

        setInterval(function() {
          $.ajax({
            url: '/hello/feed/',
            dataType: 'json'
          })
          .done(function(json) {
            console.log(json);
            $("#hello_list").empty();
            $.each(json.data, function(index, value) {
              $("#hello_list").append(
                  '<li class="hello_item">'
                  + '-&gt; '
                  + value
                  + '</li>'
              );
            })
          })
          .always(function() {
            startFeedTimer();
          });
        }, 10000);

        function startFeedTimer() {
          var feed_timer = 9;
          setInterval(function() {
            $("#feed_timer").html(feed_timer);
            if (feed_timer === 0)
              feed_timer = 9;
            else
              feed_timer -= 1;
          }, 1000);
        }
      });
    </script>
