{% include 'header.html' %}
    <h1>Password Checker</h1>

    <form id="passwd_form" action="/passwd/" method="GET">
      <label for="passwd">Password:</label>
      <input type="text" id="passwd" name="passwd" placeholder="Enter password" size="42" maxlength="100" />
      <button type="submit">Check</button>
    </form>

    {% if test %}
    <div id="passwd_test">
      <h3>Score: <span id="score">{{ format_score(test[0]) }}</span></h3>
      <h4>Suggestions:</h4>
      <ul style="font-size: 0.8em;">
        {% for suggestion in test[1] %}
        <li style="padding: 0.2em;">{{ test[1][suggestion] }}</li>
        {% endfor %}
      </ul>
    </div>
    {% endif %}

    <script type="text/javascript">
      $(document).ready(function() {
        function changeScoreColor(color) {
          $("#score").attr('style', 'color: ' + color);
        }

        var score = {{ test[0] }};

        if (score > 0.9) {
          changeScoreColor("green");
        } else if (score > 0.75) {
          changeScoreColor("yellow");
        } else if (score > 0.6) {
          changeScoreColor("orange");
        } else {
          changeScoreColor("red");
        }
      });
    </script>
{% include 'footer.html' %}
