{% include 'header.html' %}
    <h1>Password Checker</h1>

    <form id="passwd_form" action="/passwd" style="margin-bottom: 4em">
      <label for="passwd">Password:</label>
      <input type="text" id="passwd" name="passwd" placeholder="Enter password" size="42" maxlength="100" {% if result %}value="{{ result['passwd']|safe }}"{% endif %}/>
      <button type="submit">Check</button>
    </form>

    <div id="passwd_result" {% if not result %}hidden="true"{% endif %}>
      <h3>Score: <span id="score">{% if result %}{{ format_score(result['score']) }}{% endif %}</span></h3>
      <h3>Suggestions:</h3>
      <ul id="suggestions"style="font-size: 0.9em;">
        {% if result %}
        {% for name, text in result['suggestions'].items() %}
        <li style="padding: 0.2em" title="{{ name }}">{{ text }}</li>
        {% endfor %}
        {% endif %}
      </ul>
      {% if result %}<a href="/passwd/{{ result['passwd'] }}" id="pretty_url">Pretty URL</a>{% endif %}
    </div>

    <script type="text/javascript">
      $(document).ready(function() {
        $("#passwd").keyup(function(e) {
          if (!$(this).val()) {
            $("#passwd_result").hide();
            return;
          }

          $.ajax({
            url: '/passwd',
            type: 'POST',
            dataType: 'json',
            data: {
              'passwd': $(this).val()
            }
          })
          .fail(function() {
            $("passwd_result").hide();
          })
          .done(function(result) {
            if (result) {
              $("#passwd_result").show();
              changeScore(result.score);
              changeSuggestions(result.suggestions);
            } else {
              $("passwd_result").hide();
            }
          });
        });

        function changeSuggestions(suggestions) {
          $("#suggestions").empty();

          $.each(suggestions, function(name, text) {
            var item = $("<li>");
            item.attr('style', ('padding: 0.2em'))
              .attr('title', name)
              .text(text);

            $("#suggestions").append(item);
          });
        }

        function changeScore(score) {
          score = score * 100;
          $("#score").text(score.toFixed(2) + '%');

          if (score > 90) {
            changeScoreColor("green");
          } else if (score > 75) {
            changeScoreColor("yellow");
          } else if (score > 60) {
            changeScoreColor("orange");
          } else {
            changeScoreColor("red");
          }
        }

        function changeScoreColor(color) {
          $("#score").attr('style', 'color: ' + color);
        }

        {% if result %}
        var score = {{ result['score'] }};
        changeScore(score);
        {% endif %}
      });
    </script>
{% include 'footer.html' %}
