{% include 'header.html' %}
    <h1>Password Checker</h1>

    <form id="passwd_form" action="/passwd" method="GET">
      <label for="passwd">Password:</label>
      <input type="text" id="passwd" name="passwd" placeholder="Enter password" size="42" maxlength="100" />
      <button type="submit">Check</button>
    </form>

    {% if result %}
    <div id="passwd_result">
      <h3>Password: <span style="background-color: grey">{{ result['passwd']|safe }}</span></h3>

      <h3>Score: <span id="score">{{ format_score(result['score']) }}</span></h3>
      <h3>Suggestions:</h3>
      <ul style="font-size: 0.9em;">
        {% for name, text in result['suggestions'].items() %}
        <li style="padding: 0.2em;" title="{{ name }}">{{ text }}</li>
        {% endfor %}
      </ul>
      <a href="/passwd/{{ result['passwd'] }}" id="pretty_url">Pretty URL</a>
    </div>

    <script type="text/javascript">
      $(document).ready(function() {
        function changeScoreColor(color) {
          $("#score").attr('style', 'color: ' + color);
        }

        var score = {{ result['score'] }};

        if (score > 0.9) {
          changeScoreColor("green");
        } else if (score > 0.75) {
          changeScoreColor("yellow");
        } else if (score > 0.6) {
          changeScoreColor("orange");
        } else {
          changeScoreColor("red");
        }
      });
    </script>
    {% endif %}
{% include 'footer.html' %}
