body {
  background-color: #808080;
  color: white;
  font-family: monospace;
  font-size: 1.4em;
}

a {
  color: white;
  text-shadow: 2px 2px 2px blue;
  text-decoration: none;
}

a:active, a:visited {
  color: white;
  text-shadow: red;
}

a:hover {
  background-color: black;
  box-shadow: 3px 2px 3px white;
  border-radius: 3px;
  padding: 3px;
}

#footer {
  font-size: 1.5em;
}
